body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

table{
  border: 1px solid black;
  table-layout: fixed;
  width: 200px;
}

th, td {
  border: 1px solid black;
  overflow: hidden;
  width: 100px;
}

td.target_reached {
  background-color: green
}

td.short_for_target {
  background-color: red
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
